@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Montagu+Slab:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: montague Slab, serif;
    font-weight: 500;
    color: #404040;
}

/* headings and logo */

h1, h2 {
    font-family: courgette, sans-serif;
    text-transform: lowercase;
    letter-spacing: 2px;
    color: #404040;
    text-decoration: underline;
}

#logo {
    color: #ddfada;
    font-size: 200%;
    float: left;
    padding: 5px;
    text-decoration: none;
}

/* navigation links */

#menu {
    font-size: 135%;
    letter-spacing: 2px;
    color: #ddfada;
}

#menu li {
    float: right;
    list-style-type: none;
    padding: 1%;
}

li a {
    color:#ddfada;
}

header {
    width: 100%;
    height: 50px;
    background-color: black;
}

/* main image */

#hero-image {
    width: 100%;
    height: 500px;
}

/* history */

#history {
    text-align: center;
    font-size: 200%;
    letter-spacing: 2px;
    text-decoration: underline;
}

.history {
    font-size: 20px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

/* footer */

#footer-background {
    background-color: black;
    width: 100%;
    height: 10%;
}

footer {
    list-style: none;
    text-align: center;
    background-color: black;
    width: 100%;
    height: 10%;
}

footer li {
    display: inline-block;
    padding: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* types of meditation */

#information {
    padding-top: 50px;
}

.types-heading {
    text-align: center;
    letter-spacing: 2px;
}

.meditation-types {
       font-size: 20px;
       padding-left: 5%;
       padding-right: 5%;
       text-align: center;
}

.meditation-list {
    font-size: 20px;
    list-style-type: circle;
    padding-left: 45%;
}